<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/style.css' %}">
        <title>RECYCLEMORE</title>
</head>
<header>
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-light nav-color fixed-top">
      <a class="navbar-brand" href="#"><img class="institucion" src="{% static 'menu/img/Logo.jpg' %}"> </a>
      <div>Recyclemore</div>
      <div class="espacio">dst</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Quienes somos??<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="#">Contenedores</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Beneficios</a>
            </li>
              </ul>
              <form class="ingresar form-inline my-2 my-lg-0">
                <button class="  btn btn-outline-success my-2 my-sm-0" type="submit" href="#" >Ingresar</button>
              </form>
              
              <form class="ingresar form-inline my-2 my-lg-0">
                <button class="  btn btn-outline-success my-2 my-sm-0" type="submit" href="#" >Registrase</button>
              </form>
              </div>       
  </nav>
</header>
<body>    
{% block contenido %}
{% endblock %}
</body>
<footer class="container">
    <p class="float-right"><a href="#">Volver</a></p>
    <p>© 2017-2019 RECYCLEMORE, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos
    </a></p>
  </footer>