
    {% extends 'menu/Header_Footer.html' %}
    {% block contenido %}
    {% load static %}     
        <div class="slider">
            <ul class="slides">
              <li>
                <img src="{% static 'menu/img/003.jpg' %}" > 
                <div class="caption center-align">
                  <h3>Nuestros puntos</h3>
                  <h5 class="light grey-text text-lighten-3">Cada vez mas cerca de ti.</h5>
                </div>
              </li>
              <li>
                <img src= "{% static 'menu/img/003.jpg' %}" > 
                <div class="caption left-align">
                  <h3>Comprometidos </h3>
                  <h5 class="light grey-text text-lighten-3">Con el futuro.</h5>
                </div>
              </li>
              <li>
                <img src="{% static 'menu/img/003.jpg' %}" > 
                <div class="caption right-align">
                  <h3>Diviertete</h3>
                  <h5 class="light grey-text text-lighten-3">salvando al mundo.</h5>
                </div>
              </li>
            </ul>
          </div>
        <div class="col s12">
                  <div class="container center">
                      <h2 class="black-text">Premios de la semana</h2>
                      <hr>
                  </div>
            {% for a in proveedorRecompensas %}
            <div class="container ">   
              <div class="row">
                <div class="col s3 l6">
                    <p>
                        <br>
                        <!--<strong>{{ b.descripcion }}</strong>-->
                        <br>
                        <strong >{{ a.empresa }}</strong>
                    </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>   
            <div class="col s3">
              <div class="container center">
                  
                  <h2 class="black-text">Noticias</h2>
                  <hr>
              </div>
            </div>
            {% for a in noticias %}
            <div class="row featurette">
              <div class="col-md-1"></div>
              <div class="col-md-5 ">
                <li class="featurette-heading">{{ a.titulo }}</li>
                <h4><span class="text-muted">{{ a.fecha }}</span></h4>
                <p class="lead">{{ a.descripcion }}</p>
              </div>
            {% endfor %}
            <div class="green darken-2">
            <div class="row container">
            <br>
                    <div class="container center">
                    </div>
            <hr>
            <br>
            </div>
            </div>
            {% endblock contenido %}   
               <!-- JavaScript -->
               <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                 <!-- Iniciar -->
              <script src="{% static 'menu/js/iniciar,js'}"></script>
            </html>