{% extends 'usuario/Perfil/SideBar.html' %}
{% block contenido2 %}
    <img src="img/WhatsApp Image 2019-10-15 at 14.32.42.jpeg" alt="logo" class="logo">
    <h1></h1>
    <h1 class="center" >Alvaro.T</h1>
    <H3 class="center"> Puntaje: <strong class="puntos center">453 PX </strong></H3>
    <H3 class="center"> Materia reciclada: <strong class="puntos center">56 KG </strong></H3>
    <H3 class="center"> Distancia Recorrido: <strong class="puntos center">28,2 KM </strong></H3>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
   </div>
  </div>
  <br>
  <div class="col s3">
  <div class="container center">
     <h2 class="black-text">Mis favoritos</h2>
     <hr>
  </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col s3 l6">
        <p><br>
                              <strong>2X1 en </strong> <br>
                              <strong>PIZZA HUT.</strong>
                          </p>
                          <strong class="puntos">800 PX </strong>
                      </div>
                      <div class="col s3 l6">
                          <img  class ="img" src="img/pizza-hut-logo1.jpg" width="100%" height="auto" alt="">
        </div>
        <div class="col s3 l6">
          <div class="container">
              <div class="row">
                  <div class="col s3 l6">
                      <p>
                          <br>
                              <strong>90% de decuento en cuenta BRAZZERS.</strong>
                          </p>
                          <strong class="puntos">10.000 PX </strong>
                  </div>
                  <div class="col s3 l6">
                      <img class="img" src="img/Brazzers.png" width="100%" height="auto" alt="">
                  </div>
                 </div></div></div></div></div>
      <div class="btn-toolbar mb-2 mb-md-0">
       </div>
      </div>
    </div>
{% endblock contenido2 %}