{% extends 'usuario/menu/Header_Footer.html' %}
{% block Main %}
{% include 'usuario/Perfil/SideBar.html' %}
    <img src="https://i.redd.it/6k7u2q0nxnd31.png" alt="logo" class="logo">
    <h1></h1>
    <h1 class="center" >{{ user.username }}</h1>
    <H3 class="center"> Puntos: <strong class="puntos center">{{ estadistica.puntaje }} PX</strong></H3>
    <H3 class="center"> Cantidad reciclada: <strong class="puntos center">{{ cantidad.cantidadReciclada }} KG </strong></H3>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>


    <body>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Mis Favoritos</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
           </div>
          </div>
        </div>
  <div class="container ">
    <div class="row">
      <div class="col s3 l6">
        <p><br>
                              <strong>2X1 en </strong> <br>
                              <strong>PIZZA HUT.</strong>
                          </p>
                          <strong class="puntos">800 PX </strong>
                      </div>
                      <div class="col s3 l6">
                          <img  class ="img" src="img/pizza-hut-logo1.jpg" width="100%" height="auto" alt="">
        </div>
        <div class="col s3 l6">
          <div class="container">
              <div class="row">
                  <div class="col s3 l6">
                      <p>
                          <br>
                              <strong>90% de decuento en cuenta BRAZZERS.</strong>
                          </p>
                          <strong class="puntos">10.000 PX </strong>
                  </div>
                  <div class="col s3 l6">
                      <img class="img" src="img/Brazzers.png" width="100%" height="auto" alt="">
                  </div>
                 </div></div></div></div></div>
      <div class="btn-toolbar mb-2 mb-md-0">
       </div>
      </div>
    </div>
{% endblock Main %}