

body.fondo{
    margin: 0;
    padding: 0;
    background-image: url(../img/depositphotos_2562948-stock-illustration-seamless-recycle-background-vector-collection.jpg);
}

.caja{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(76,139,16);
    border-radius: 24px;
    color: white;
}
.caja label{
position: relative;
left: 60px;
}
.caja input[type = "text"],.caja input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 2px solid #b1dca3;  
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    background-color: white;
}

.caja input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 2px solid white;  
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    background-color: white;

}

.caja input[type = "submit"]:hover{
background-color: #3498db;
}

.caja input[type = "text"]:focus,.caja input[type = "password"]:focus{
    width: 250px;
    border-color: #3498db;
}

.caja h1{
    text-align: center;
    color: white;
    font-weight: 500;
}
.caja a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.logo{
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
left: calc(50% - 50px);
}

.nav-color{
    background-color:rgb(76, 139, 16);
    
}
.navbar-expandd-lg{
    max-height: 100px;
    margin-block-end: 50px
}
.institucion{
    max-height: 50px;
    border-radius: 50%;
    width: 60px;
    margin-left: 10px;

}


.btn[type = "submit"]:hover{
    background-color:white;
    color: rgb(42, 82, 5);
    border-color: rgb(42, 82, 5);
    margin-left: 10px;
}

.btn-outline-success {
    color: white;
    border-color: white;
    background-color:rgb(42, 82, 5);
    margin-left: 10px;
}
.marketing h2 {
    font-weight: 400;
}
.nav-item{
color: white;
}
.espacio{
    color: rgb(76, 139, 16);
}
.links{
color: white;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.username{
    color: white;
    align-self: center;
}

.img{
    width: 150px;
    height: 150px;
}

.imgs{
    width: 400px;
    height: 300px;
}
.nav-link{
    color: black;
}
.nav-link a:hover{
    background-color: black;
    color: black;
}

.carousel-item img {
    width:1284;
    height:700px;
}

/* Slider */
@keyframes scroll{
    0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.Infinite-carrousel {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
    width: max-content;
}
	
.slide-track {
	animation: scroll 40s linear infinite;
    display: flexbox;
    height: 200px;
}
	
.premios {
	height: 200px;
	width: auto;
}

.premios div{
    float: left;
}


