
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuario/css/style.css' %}">
    <title>Registrarse</title>
</head>
<body class="fondo">
    <form class="caja" id="formulario" action="registrar" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <img src="{% static 'usuario/img/reciclar_icon.jpg' %}" class="logo" alt="logo">
        <h1>Ingrese sus datos</h1>
        <input type="text" name="username" class="form-control" placeholder="Nombre de Usuario">
        <input type="text" name="name" class="form-control" placeholder="Nombre">
        <input type="text" name="lastName" class="form-control" placeholder="Apellido">
        <input type="email" name="email" class="form-control" placeholder="e-mail">
        <input type="password" name="password" class="form-control" placeholder="Contraseña (6 o mas caracteres)">
        <input type="submit"value="Registrarse">
    </form>
    <script src="{% static 'usuario/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'usuario/js/jquery.validate.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'usuario/js/bootstrap.js' %}"></script>
    <script src="{% static 'usuario/js/validador.js' %}"></script>
</body>
</html>